@font-face {
    font-family: "Capture-it";
    src: url("./font/Capture-it.ttf") format("truetype");
  } 
*,*:before,*:after {
    box-sizing: border-box;
  }
  body {
    margin: 0;
    font-size: 14px;
    color: #fff;
    width: 100%;
  }
header{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    min-width: 700px;
    background: linear-gradient(90deg, rgb(0, 0, 0) 30%, rgb(95, 0, 231) , rgb(10, 24, 129));
    border-bottom:2px solid #cac403;
}
.insideHeader,.insideHeaderGame{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:10px 30px;
}
.navHeader,.navHeaderGame {
    display: flex;
    justify-content: space-around;
}
input, button{
    border:none;
    outline: none;
    color: #fff;
}
.buttonHeader,.inputOut {
    margin:auto 25px;
    padding: 20px;
    border: 1px solid #fff;
    border-radius: 2rem;
    text-transform: uppercase;
    cursor: pointer;
    background-color: #08f;
    text-shadow:-0.1rem -0.1rem 0.5rem #fff,0.1rem 0.1rem 0.5rem #fff, 0 0 1rem #cac403,0 0 2rem #cac403,0 0 3rem #cac403,0 0 4rem #cac403,0 0 5rem #cac403;
    box-shadow:0 0 .1rem #fff,inset 0 0 .1rem #fff,0 0 .5rem #08f,inset 0 0 .5rem #08f,0 0 .5rem #08f,inset 0 0 .5rem #08f;
}
.buttonHeader:focus,.inputOut:focus {
    outline: none;
   }
.ruleAuthorMenu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size:16px;
    width: 50%;
}
.welcome {
   margin-left:100px;
   font:18px "Capture-it";
   color:#fffb00;
   text-shadow: 1px 1px 20px rgb(4, 4, 4);
}
.ruleLink {
    text-decoration: none;
    padding: 15px;
    cursor: pointer;
    text-transform: uppercase;
    text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #e60073, 0 0 4px #e60073, 0 0 5px #e60073, 0 0 6px #e60073, 0 0 7px #e60073;
}
.ruleLink:hover {
    border:1px solid white;
    box-shadow:0 0 .1rem #fff,inset 0 0 .1rem #fff,0 0 .5rem #08f,inset 0 0 .5rem #08f,0 0 .5rem #08f,inset 0 0 .5rem #08f;
}
main {
    position: relative;
    top:161px;
    background-size: cover;
    height: 800px;
    min-width: 700px;
}
.wrapFormReg,.wrapFormEnter,.wrapperGame,.wrapRule{
    border:2px solid white;
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    box-shadow:0 0 .1rem #fff,inset 0 0 .1rem #fff,0 0 .5rem #08f,inset 0 0 .5rem #08f,0 0 .5rem #08f,inset 0 0 .5rem #08f;
    border-radius: 5%;
    display:none;
}
.formRegMain,.formEnter,.ruleField{
    margin:5px;
    padding:5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 5%;
    background-color: #0f294e;
    width: 350px;
    height: 400px;
    opacity: .98;
    position: relative;
}
.crossForm,.crossFormEnter,.crossRule {
    position: absolute;
    top:2px;
    right: 15px;
    font-size: 30px;
    cursor: pointer;
    opacity: .7;
}
h1 {
    font:26px "Capture-it";
}
.inputForm,.loginEnter {
    font-size: 16px;
    padding-left:5px;
    background-color: #031733;
    width: 270px;
    height: 35px;
}
.wrapPassword,.wrapPasswordRepeat,.wrapPasswordEnter {
    position: relative;
}
.eyeButton,.eyeButtonRepeat,.eyeButtonEnter {
    position: absolute;
	top: 7px;
	right: 5px;
	width: 25px;
	height: 25px;
    background: url(img/iconsInvisibleEye.png) no-repeat;
    cursor: pointer;
    opacity: .7;
}
.eyeButton:hover,.crossForm:hover,.eyeButtonRepeat:hover,.eyeButtonEnter:hover,.crossFormEnter:hover{
    opacity: 1;
}
.inputFormReg,.recetFormReg,.inputFormEnter,.recetFormEnter {
    background-image: url(img/backgroundInputForReg.png);
    background-size: cover;
    cursor: pointer;
}
.inputFormReg,.inputFormEnter {
    height: 40px;
    width: 170px;
    border-radius: 5%;
    font-size:16px;
}
.recetFormReg,.recetFormEnter {
    font-size:14px;
    border-radius: 5%;
    height: 35px;
    width: 90px;
}
.wrapFormEnter{
    display:none;
}
.mesPas {
    bottom: 37px;
    right: 8px;
}
.mesPas,.errorLogLength,.errorPasLength,.errorLogEnter,.errorPasEnter,.noFindLogEnter,.noFindPasEnter,.errorSimilarLogin{
    display: none;
    color:red;
    position: absolute;
}
.errorLogLength {
    top:92px;
}
.errorPasLength{
    bottom:35px;
}
.errorLogEnter {
    top:107px;
}
.errorPasEnter {
    left:0;
    bottom: 38px;
}
.noFindLogEnter{
    top:104px;
}
.noFindPasEnter{
    bottom: 38px;
}
.errorSimilarLogin {
    top:90px;
}

/*Game*/

.wrapRule {
    width: 500px;
    height: 600px;
    z-index: 1;
}
.ruleField {
    width: 490px;
    height: 590px;
}
.ruleImg {
   width: 120px;
   height: 45px;
}
.wrapperGame{
    display: block;
    width: 705px;
    height: 665px;
}
.wrapCloverRule,.wrapCardRule,.wrapChipRule,.wrapHorseshoeRule,.wrapDiamondRule,.wrapSevenRule{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 400px;
    margin:10px;
}
.betRule {
    font:24px "Capture-it";
    color:#fffb00;
    text-shadow: 1px 1px 20px rgb(4, 4, 4);
}
.gameField{
    margin:5px;
    background-color: #0f294e;
    opacity: .98;
    width: 690px;
    height: 650px;
    border-radius: 5%;
}
.wrapAllRings {
    display: flex;
    justify-content: space-around;
    height: 230px;
    width: 690px;
  }
  .wrapRing1,.wrapRing2,.wrapRing3 {
    border: 1px solid #CCC;
    width: 220px;
    height: 220px;
    margin: 80px auto;
    position: relative;
    top:50px;
  }
  .ring1,.ring2,.ring3 {
    width: 100%;
    height: 100%;
    position: absolute;
    transform: translateZ(-288px);
    transform-style: preserve-3d;
    transition: transform 1s;
  }
  .ring1Slot,.ring2Slot,.ring3Slot {
    position: absolute;
    width: 200px;
    height: 200px;
    left: 10px;
    top: 10px;
    line-height: 116px;
  }
  .ring1 > :nth-child(odd), .ring2 > :nth-child(odd),.ring3 > :nth-child(odd){
      background-color: #995C7F;
    }
  .ring1 > :nth-child(even),.ring2 > :nth-child(even),.ring3 > :nth-child(even) {
      background-color: #835A99;
    }
  .diamond {
      background-image: url(img/diamond.png) ;
  }
  .clover {
    background-image: url(img/clover.png) ;
  }
  .seven {
    background-image: url(img/seven.png) ;
  }
  .horseshoe{
    background-image: url(img/horseshoe.png) ;
  }
  .chip{
    background-image: url(img/chip.png) ;
  }
  .card{
    background-image: url(img/card.png) ;
  }
  .diamond,.clover,.seven,.horseshoe,.chip,.card{
    background-size: cover;
  }
  .ring1Slot:nth-child(1) { transform: rotateX(  0deg) translateZ(200px); }
  .ring1Slot:nth-child(2) { transform: rotateX( 70deg) translateZ(200px); }
  .ring1Slot:nth-child(3) { transform: rotateX( 140deg) translateZ(200px); }
  .ring1Slot:nth-child(4) { transform: rotateX(210deg) translateZ(200px); }
  .ring1Slot:nth-child(5) { transform: rotateX(280deg) translateZ(200px); }
  .ring1Slot:nth-child(6) { transform: rotateX(340deg) translateZ(200px); }
  
  .ring2Slot:nth-child(1) { transform: rotateX(  0deg) translateZ(200px); }
  .ring2Slot:nth-child(2) { transform: rotateX( 70deg) translateZ(200px); }
  .ring2Slot:nth-child(3) { transform: rotateX( 140deg) translateZ(200px); }
  .ring2Slot:nth-child(4) { transform: rotateX(210deg) translateZ(200px); }
  .ring2Slot:nth-child(5) { transform: rotateX(280deg) translateZ(200px); }
  .ring2Slot:nth-child(6) { transform: rotateX(340deg) translateZ(200px); }
  
  .ring3Slot:nth-child(1) { transform: rotateX(  0deg) translateZ(200px); }
  .ring3Slot:nth-child(2) { transform: rotateX( 70deg) translateZ(200px); }
  .ring3Slot:nth-child(3) { transform: rotateX( 140deg) translateZ(200px); }
  .ring3Slot:nth-child(4) { transform: rotateX(210deg) translateZ(200px); }
  .ring3Slot:nth-child(5) { transform: rotateX(280deg) translateZ(200px); }
  .ring3Slot:nth-child(6) { transform: rotateX(340deg) translateZ(200px); }
  
  .slotRange {
    display:none;
  }
.wrapButtonGame {
    position: absolute;
    bottom: 60px;
    width: 490px;
}
.wrapButtonGame,.wrapBets{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.wrapBets {
    position: relative;
}
.titleBet {
    position: absolute;
    bottom:90px;
    color: #8aff31;
}
.bet50,.bet100{
    width: 80px;
    height: 80px;
    margin:0 5px; 
}
.bet50{
background-image:url(img/betBoard.jpg);
}
.bet100{
    background-image:url(img/silverBetBoard.jpg);
    cursor: pointer;
}
.wrapBalance{
    position: relative;
}
.titleBalance {
    position: absolute;
    color: #8aff31;
    left: 85px;
    bottom: 90px;
}
.balanceBtn {
    background-image:url(img/balanceBtn.jpg);
    height: 77px;
    width: 250px;
}
.startButton{
    background-image:url(img/spinBtn.png);
    width: 180px;
    height: 55px;
    cursor: pointer;
    position: absolute;
    right: 20px;
    bottom:70px;
}
.bet50,.bet100,.startButton,.balanceBtn{
    background-size: cover;
    border-radius: 20px;
}
.titleBet,.bet50,.bet100,.titleBalance,.balanceBtn,.startButton {
    font:24px "Capture-it";
}

@media screen and (max-width: 736px){
    .ruleAuthorMenu {
        justify-content: center;
    }
    .welcome {
        margin-left:30px;
    }
}